.hex-key-wrapper {
  width: var(--hex-btn-size);
  height: var(--hex-btn-size);
  border: none;
  outline: none;
  font-size: 1rem;
  box-shadow: 0 0 0 2px black;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);  transition:
    transform 0.15s ease,
    box-shadow 0.15s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.4);
  }

  .arabic {
    font-size: 3rem;
    font-weight: 500;
  }

  .english {
    font-size: 0.8rem;
    margin: 1.5rem 0 0 1rem;
  }

  .hex-img {
    object-fit: contain;
  }
}

.hex-key-wrapper::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  z-index: -1;
}

.hex-key-wrapper:hover::before {
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.5));
}
