.keyboard-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    box-sizing: border-box;
    background-color: #b4b596;
}

.keyboard {
    width: 65%;
    height: 400px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: black;
}

.keyboard-row {
    position: absolute;
    display: flex;
    gap: 2px;
    transform: translate(0, 75%);
}

.keyboard-row:nth-child(odd) {
    margin-left: -90px;
}
