.hex-key-wrapper {
  width: var(--hex-btn-size);
  height: var(--hex-btn-size);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-size: 1rem;
  color: var(--key-letter-color);
  box-shadow: 0 0 0 2px black;
  border: none;
  outline: none;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transition:
    transform 0.15s ease,
    box-shadow 0.15s ease;

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.4);
  }

  .arabic {
    font-size: calc(var(--hex-btn-size) * 0.45);
  }

  .english {
    font-size: calc(var(--hex-btn-size) * 0.15);
    margin: calc(var(--hex-btn-size) * 0.35) 0 0 0.8rem;
  }

  .hex-img {
    object-fit: contain;
  }

  .switch-label {
    font-weight: 500;
    font-size: calc(var(--hex-btn-size) * 0.3);
  }
}

.hex-key-wrapper::before {
  position: absolute;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  content: "";
  top: -2px;
  left: -2px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  z-index: -1;
}

.hex-key-wrapper:hover::before {
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.5));
}
