* {
  transition: none !important;
  animation: none !important;
}

html, body {
  overflow: hidden;
  height: 100%;
}

.App {
  min-height: 100vh;
}

.header {
  text-align: center;
  padding: 4px 0;
}
